/* Add Styles Here */
.centre {
  margin:auto;
  text-align: center;
}
td {
  padding:100px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-family: 'Lucida Sans';
}
.right {
  align-self: right;
  padding: 10px;
}
.left {
  float: left;
  padding: 10px;
}
.topnav {
  height: 12vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgba(9,162,224,0.88);
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  
}
.synopsisscroll {
  overflow: scroll;
  width: 20vw;
  height: 25vh;
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}
.reviewbox {
  overflow: scroll;
  width: 79vw;
  height: 33.3vh;
  font-family: Verdana;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}
.inlineReview {
  height: 100vh;
  align-items: flex-start;
  display: inline-block;
  overflow: hidden;
}
.inlineUserPage {
  height: 50vh;
  align-items: flex-start;
  display: inline-block;
  overflow: hidden;
}
.scrollReview {
  overflow: scroll;
}
.bookCover {
  width: 20vw;
  height: 65vh;
}
.bookCoverCol {
  width: 20vw;
}
.userPageBooks {
  width: 13vw;
  height: 35vh;
  margin: 0;
}
.userPageRecentReviews {
  width: 100%;
  overflow-x: scroll;
}
.fixedBottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  overflow-x: scroll;
  background-color: rgba(9,162,224,0.88);
}
.userPageInput {
  width: 200px;
  height: 4vh;
  overflow: hidden;
  margin: 10px;
}